@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap%27");

:root {
	--pagination-color: #a5dd1a;
}

body {
	margin: 0;
	padding: 0;
	background-color: #000000;
}

.App {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: "Londrina Solid";
	color: #fdfac2;
	font-size: 1.2rem;
	text-align: justify;
	text-justify: inter-word;
}

.content {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 1000px) {
	.listCard {
		width: 25%;
		height: 12rem;
	}
}

@media screen and (max-width: 1100px) {
	.listCard {
		width: 70%;
		padding: 20px;
	}
	.content {
		width: 80vw;
	}
	.popUpCard {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 450px) {
	.listCard {
		width: 90% !important;
		font-size: medium;
		padding: 0;
	}
	.content {
		display: flex;
		flex-direction: column;
	}
	.listCard img {
		max-width: 80%;
	}
	.pagination {
		font-size: 0.8rem;
	}
	.popUpCard {
		width: 80%;
		font-size: 1.1rem;
	}
}

.listCard {
	background-image: url("backgroundPic.png");
	background-position: center;
	background-size: 100%;
	border: solid 2px palegoldenrod;
	border-radius: 8px;
	align-items: center;
	text-align: center;
	margin: 10px;
	height: auto;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.listCard.episodes {
	flex-direction: row;
}

.listCard img {
	border-radius: 7px;
	box-shadow: 1px 1px 5px black;
	cursor: pointer;
}

.listCard p {
	text-shadow: 1px 1px 5px black;
	font-size: 1.8rem;
}

.listCard h1 {
	text-shadow: 1px 1px 5px black;
	text-align: center;
}

.modal {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Londrina Solid";
}
.popUpCard {
	color: #406606;
	background-color: whitesmoke;
	opacity: 0.85;
	padding: 20px;
	border: solid 10px #68a50a;
	border-radius: 30px;
	width: 80%;
	font-weight: bold;
	outline: none;
}
.popUpData {
	color: rgb(196, 131, 10);
}

.popUpCard p {
	margin: 5px;
	overflow-wrap: break-word;
}

ul.pagination {
	width: 100%;
	list-style: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-inline-start: 0px;
}

.pagination > .active > a {
	background-color: var(--pagination-color);
	border-color: var(--pagination-color);
	color: #fff;
}
.pagination > li > a {
	border: 1px solid var(--pagination-color);
	padding: 5px 10px;
	outline: none;
	cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: var(--pagination-color);
	border-color: var(--pagination-color);
	outline: none;
}
.pagination > li > a,
.pagination > li > span {
	color: var(--pagination-color);
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-radius: unset;
}

.location {
	cursor: pointer;
}

#openimage {
	display: flex;
	justify-content: center;
	align-items: center;
}
#openimage img {
	max-width: 60vw;
	max-height: 60vh;
}
#openbuttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#openbuttons a {
	cursor: pointer;
}

#openbuttons img {
	max-width: 35vw;
	max-height: 35vh;
	border-radius: 10px;
	margin: 20px;
}
#desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem;
	max-width: 50%;
}

.search-bar {
	display: flex;
	width: 100%;
	align-self: center;
	justify-content: center;
}

#history-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0;
	transform: translateY(-50%);
	border: 1px solid red;
	padding: 10px;
	top: 50%;
	max-height: 50vh;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#history-container::-webkit-scrollbar {
	display: none;
}

.filter-container {
	width: 100%;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.filter-container .search-bar {
	width: 20%;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loading-spinner {
	width: 10px;
	height: 10px;
	border: 2px solid #f3f3f3;
	border-top: 2px solid #383636;
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
	position: absolute;
	margin-left: 5px;
}

.episode-character {
	max-width: 150px;
}

#character-container a {
	opacity: 1;
}

#character-container {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	position: relative;
	height: 250px;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#character-container::-webkit-scrollbar {
	display: none;
}
