@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap%27");

:root {
	--pagination-color: #a5dd1a;
}

body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	box-sizing: border-box;
}

.App {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: "Londrina Solid";
	color: #fdfac2;
	font-size: 1.2rem;
	text-align: justify;
	text-justify: inter-word;
}

input,
select,
button {
	padding: 5px 10px;
	border-radius: 10px;
	border: 4px solid #74c248;
	font-family: "Londrina Solid";
	font-size: 1.2rem;
	margin: 5px;
}

h1 {
	max-width: 95%;
	overflow-wrap: break-word;
}

.content {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 87vw;
}

.listCard {
	background-image: url("backgroundPic.png");
	background-position: center;
	background-size: 100%;
	border: solid 2px palegoldenrod;
	border-radius: 8px;
	align-items: center;
	text-align: center;
	margin: 10px;
	height: 500px;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 5px;
}

.listCard.episodes {
	flex-direction: row;
}

.listCard img {
	border-radius: 7px;
	box-shadow: 1px 1px 5px black;
	cursor: pointer;
}

.listCard p {
	text-shadow: 1px 1px 5px black;
	font-size: 1.8rem;
}

.listCard h1 {
	text-shadow: 1px 1px 5px black;
	text-align: center;
}

.listCard img {
	max-width: 90%;
}

.modal {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Londrina Solid";
}
.popUpCard {
	color: #406606;
	background-color: whitesmoke;
	opacity: 0.85;
	padding: 20px;
	border: solid 10px #68a50a;
	border-radius: 30px;
	width: 70%;
	font-weight: bold;
	outline: none;
	font-size: 1.2rem;
}
.popUpData {
	color: rgb(196, 131, 10);
}

.popUpCard p {
	margin: 5px;
	overflow-wrap: break-word;
}

ul.pagination {
	width: 100%;
	list-style: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-inline-start: 0px;
}

.pagination > .active > a {
	background-color: var(--pagination-color);
	border-color: var(--pagination-color);
	color: #fff;
}
.pagination > li > a {
	border: 1px solid var(--pagination-color);
	padding: 5px 10px;
	outline: none;
	cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: var(--pagination-color);
	border-color: var(--pagination-color);
	outline: none;
}
.pagination > li > a,
.pagination > li > span {
	color: var(--pagination-color);
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-radius: unset;
}

.location,
.episodes {
	cursor: pointer;
	height: 300px;
	width: 300px;
}

#openimage {
	display: flex;
	justify-content: center;
	align-items: center;
}
#openimage img {
	max-width: 60vw;
	max-height: 60vh;
}
#openbuttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
}
#openbuttons a {
	cursor: pointer;
}

#openbuttons img {
	max-width: 24vw;
	max-height: 17vh;
	border-radius: 10px;
}
#desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem;
	max-width: 50%;
}

#user-name {
	padding: 5px 10px;
	border-radius: 10px;
	border: 4px solid #74c248;
	font-family: "Londrina Solid";
	font-size: 1.2rem;
	margin: 5px;
	background-color: white;
	color: black;
	width: 50%;
}

.search-bar {
	display: flex;
	width: 100%;
	align-self: center;
	justify-content: center;
}

.history-container {
	scrollbar-width: none;
	transform: translate(220px, -50%);
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 50%;
	right: 0;
	transition-duration: 0.3s;
	z-index: 1000;
}
.history-container:hover {
	transform: translate(0, -50%);
}

.history-items {
	max-height: 50vh;
	overflow: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	background-color: #74c248;
	border-radius: 0 0 0 15px;
	border: 10px solid #74c248;
	width: 200px;
	padding-top: 10px;
}

.history-items h3 {
	margin-top: 0;
}

.history-items::-webkit-scrollbar {
	display: none;
}

.history-items.icon {
	border-radius: 15px 0 0 15px;
	background-color: #74c248;
	width: 50px;
	height: 50px;
	border: 0;
	padding: 10px;
}
.history-items.icon img {
	width: 100%;
}

.filter-container {
	width: 100%;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0;
}

.filter-button {
	padding: 5px;
	background-color: #74c248;
	color: #fdfac2;
}

.filter-container .search-bar {
	width: 25%;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loading-spinner {
	width: 20px;
	height: 20px;
	border: 2px solid #f3f3f3;
	border-top: 2px solid #383636;
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
	position: absolute;
	margin: 15px 0 0 5px;
	display: flex;
	align-items: baseline;
	justify-content: baseline;
}

.episode-character {
	max-width: 150px;
}

#character-container a {
	opacity: 1;
}

#character-container {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	position: relative;
	height: 250px;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	justify-content: center;
}
#character-container::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 1280px) {
	.listCard img {
		max-width: 80%;
	}
}

@media screen and (max-width: 1024px) {
	.listCard {
		width: 29%;
		max-height: 450px;
		font-size: large;
	}
	.popUpCard {
		font-size: 1.5rem;
	}
	.filter-container {
		width: 86%;
	}
	.filter-container .search-bar {
		width: 40%;
	}
	#openbuttons img {
		max-width: 29vw;
	}
}
@media screen and (max-width: 768px) {
	.listCard {
		width: 44%;
	}
	#openimage img {
		max-width: 40vw;
	}
	#desc {
		max-width: 90%;
	}
	.pagination {
		font-size: 2rem;
	}
	.filter-container {
		width: 100%;
	}
	.filter-container .search-bar {
		width: 50%;
		justify-content: flex-start;
	}
	input,
	select,
	button {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 640px) {
	.listCard {
		width: 80%;
		max-height: unset;
		height: auto;
		font-size: large;
	}
	.content {
		display: flex;
		flex-direction: column;
	}
	.listCard img {
		max-width: 80%;
	}

	.popUpCard {
		width: 80%;
		font-size: 1.5rem;
	}
}
