body {
	margin: 0;
	padding: 0;
	background-color: #000000;
}
#openimage {
	display: flex;
	justify-content: center;
	align-items: center;
}
#openimage img {
	max-width: 60vw;
	max-height: 60vh;
}
#openbuttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#openbuttons img {
	max-width: 35vw;
	max-height: 35vh;
	border-radius: 10px;
	margin: 20px;
}
/* #desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem;
} */

.search-bar {
	display: flex;
	width: 100%;
	align-self: center;
	justify-content: center;
}
